<div class="jumbotron">
  <h1 class="display-3">Simple question answer app!</h1>
  <p class="lead">This is a simple question answer app made with Rails 4 and PostgreSQL.</p>
</div>

<div class="container">
  <% @questions.each do |q| %>

  <div class="media">
    <img class="d-flex mr-3" src='<%= q.gravatar%>' alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="mt-0 mb-1"> <%= q.email %> asked:</h5>
      <%= time_ago_in_words q.created_at %> ago
      <br/>
      <%= q.body %>
      <div>
        <a href="<%= question_path(q) %>" class="btn btn-success btn-xs">View answers</a>
      </div>
    </div>
  </div>
  <% end %>
</div>